        <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,&lt;svg xmlns&equals;&quot;http&colon;&sol;&sol;www&period;w3&period;org&sol;2000&sol;svg&quot; viewBox&equals;&quot;0 0 100 100&quot;&gt;&lt;text y&equals;&quot;1&period;0em&quot; x&equals;&quot;0&period;0em&quot; font-size&equals;&quot;80&quot;&gt;💬&lt;&sol;text&gt;&lt;&sol;svg&gt;" />
