---json
{
    "version": 1,
    "title": "Bulbe Oignon ‣ Chapitre 1",
    "chapterTitle": "Chapitre 1",
    "chapterNumber": 1,
    "eleventyNavigation": {
        "key": "Chapitre 1",
        "parent": "Bulbe Oignon"
    },
    "revealSettings": {
        "width": 1750,
        "height": 840,
        "showFirstFragment": true
    },
    "slides": [
        {
            "background": [
                "images/01/fond.png",
                "images/01/p3.png",
                "images/01/p2.png",
                "images/01/p1.png"
            ]
        },
        {
            "background": [
                "images/02/fond.png",
                "images/02/p3.png",
                "images/02/p2.png",
                "images/02/p1.png"
            ]
        },
        {
            "fragments": [
                "Bulbe Oignon se demande depuis combien de temps il marche. A t’il déjà fait autre chose que marcher ?"
            ],
            "background": [
                "images/03/fond.png",
                "images/03/p3.png",
                "images/03/p2.png",
                "images/03/p1.png"
            ]
        },
        {
            "fragments": [
                "Aussi loin qu’il se souvienne, non. Toute sa vie jusqu’à présent n’a été qu’une longue marche au travers d’un paysage mort, vers une destination inconnue."
            ],
            "background": [
                "images/04/fond.png",
                "images/04/p3.png",
                "images/04/p2.png",
                "images/04/p1.png"
            ]
        },
        {
            "fragments": [
                "Se dirige-t-il seulement quelque-part ? Une question revient sans cesse dans son esprit : « pourquoi ? ». Pourquoi existe-t-il ? Pourquoi cet univers existe ? Pourquoi l’avoir fait si vaste, alors que lui est si petit ? Pourquoi l’avoir mis au centre ? Il voudrait tant savoir « pourquoi » !"
            ],
            "background": [
                "images/05/fond.png",
                "images/05/p3.png",
                "images/05/p2.png",
                "images/05/p1.png"
            ]
        },
        {
            "fragments": [
                "A chaque fois qu’il réfléchit à ces questions, il est pris de vertige, comme si une force invisible l’empêchait de trouver la réponse. Ce monde doit avoir un sens, mais Bulbe Oignon s’est fait une raison : Il ne découvrira jamais lequel. "
            ],
            "background": [
                "images/06/fond.png",
                "images/06/p3.png",
                "images/06/p2.png",
                "images/06/p1.png"
            ]
        },
        {
            "background": [
                "images/07/fond.png",
                "images/07/p3.png",
                "images/07/p2.png",
                "images/07/p1.png"
            ]
        },
        {
            "fragments": [
                "Quelque part dans l’univers, le jour se lève sur une planète qui n’avait encore jamais goûté à la chaleur d’une étoile."
            ],
            "background": [
                "images/08/fond.png",
                "images/08/p3.png",
                "images/08/p2.png",
                "images/08/p1.png"
            ]
        },
        {
            "background": [
                "images/09/fond.png",
                "images/09/p3.png",
                "images/09/p2.png",
                "images/09/p1.png"
            ]
        },
        {
            "fragments": [
                "Petit à petit, la vie trouve son chemin."
            ],
            "background": [
                "images/10/fond.png",
                "images/10/p3.png",
                "images/10/p2.png",
                "images/10/p1.png"
            ]
        },
        {
            "fragments": [
                "Bulbe Oignon ne le sait pas, mais pour lui aussi, un nouveau jour va bientôt commencer. "
            ],
            "background": [
                "images/11/fond.png",
                "images/11/p3.png",
                "images/11/p2.png",
                "images/11/p1.png"
            ]
        },
        {
            "background": [
                "images/12/fond.png",
                "images/12/p3.png",
                "images/12/p2.png",
                "images/12/p1.png"
            ]
        },
        {
            "background": [
                "images/13/fond.png",
                "images/13/p3.png",
                "images/13/p2.png",
                "images/13/p1.png"
            ]
        },
        {
            "background": [
                "images/14/fond.png",
                "images/14/p3.png",
                "images/14/p2.png",
                "images/14/p1.png"
            ]
        },
        {
            "background": [
                "images/15/fond.png",
                "images/15/p3.png",
                "images/15/p2.png",
                "images/15/p1.png"
            ]
        },
        {
            "fragments": [
                "Au loin, Bulbe Oignon aperçoit une forme brillante qu’il n’a jamais vu auparavant."
            ],
            "background": [
                "images/16/fond.png",
                "images/16/p3.png",
                "images/16/p2.png",
                "images/16/p1.png"
            ]
        },
        {
            "fragments": [
                "Cette masse de métal lui semble vaguement familière. Peut-être appartient-elle à la même espèce que lui. Il est convaincu que des réponses se trouvent à l’intérieur."
            ],
            "background": [
                "images/17/fond.png",
                "images/17/p3.png",
                "images/17/p2.png",
                "images/17/p1.png"
            ]
        },
        {
            "background": [
                "images/18/fond.png",
                "images/18/p3.png",
                "images/18/p2.png",
                "images/18/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bulbe Oignon",
                    "text": "Il y a quelqu’un ?",
                    "tail": {
                        "offset": "65%",
                        "direction": "center"
                    }
                }
            ],
            "background": [
                "images/19/fond.png",
                "images/19/p3.png",
                "images/19/p2.png",
                "images/19/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bleue",
                    "text": "Bonjour, Bulbe Oignon."
                }
            ],
            "background": [
                "images/20/fond.png",
                "images/20/p3.png",
                "images/20/p2.png",
                "images/20/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bulbe Oignon",
                    "text": "Qui êtes-vous ?",
                    "tail": {
                        "offset": "25%",
                        "direction": "left"
                    }
                }
            ],
            "background": [
                "images/21/fond.png",
                "images/21/p3.png",
                "images/21/p2.png",
                "images/21/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bleue",
                    "text": "Je m’appelle Bleue. Je t’attendais. Pourquoi as-tu mis tant de temps pour me trouver ?",
                    "tail": {
                        "offset": "35%",
                        "direction": "right"
                    }
                }
            ],
            "background": [
                "images/22/fond.png",
                "images/22/p3.png",
                "images/22/p2.png",
                "images/22/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bulbe Oignon",
                    "text": "Je… Je ne savais pas… C’est le hasard qui m’a mené ici…",
                    "tail": {
                        "offset": "60%",
                        "direction": "right"
                    }
                }
            ],
            "background": [
                "images/23/fond.png",
                "images/23/p3.png",
                "images/23/p2.png",
                "images/23/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bulbe Oignon",
                    "text": "Si je n’avais pas trébuché sur cette pierre, je serais passé à côté de vous sans vous voir. Pendant un moment, j’ai cru qu’on m’avait juste oublié…",
                    "tail": {
                        "offset": "28%",
                        "direction": "right"
                    }
                }
            ],
            "background": [
                "images/24/fond.png",
                "images/24/p3.png",
                "images/24/p2.png",
                "images/24/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bleue",
                    "text": "Personne ne t’a oublié. Tu es un robot. Une machine construite pour une tâche spécifique. Il y a une raison pour ton existence. Tu as un but, une mission. ",
                    "tail": {
                        "offset": "28%",
                        "direction": "right"
                    }
                }
            ],
            "background": [
                "images/25/fond.png",
                "images/25/p3.png",
                "images/25/p2.png",
                "images/25/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bulbe Oignon",
                    "text": "Une mission ? Quel genre de mission ?",
                    "tail": {
                        "offset": "45%",
                        "direction": "center"
                    }
                }
            ],
            "background": [
                "images/26/fond.png",
                "images/26/p3.png",
                "images/26/p2.png",
                "images/26/p1.png"
            ]
        },
        {
            "fragments": [
                {
                    "kind": "dialogue",
                    "label": "Bleue",
                    "text": "Suis la lumière et tu la découvriras. "
                }
            ],
            "background": [
                "images/27/fond.png",
                "images/27/p3.png",
                "images/27/p2.png",
                "images/27/p1.png"
            ]
        },
        {
            "fragments": [
                "A la fois excité et intrigué, Bulbe Oignon se demande s’il sera à la hauteur. Une mission pour lui ? Alors qu’il cherchait des réponses, il se retrouve avec encore plus de questions…"
            ],
            "background": [
                "images/28/fond.png",
                "images/28/p3.png",
                "images/28/p2.png",
                "images/28/p1.png"
            ]
        },
        {
            "fragments": [
                "Au bout du couloir, une porte s’ouvre sur une pièce baignée d’une lumière blanche."
            ],
            "background": [
                "images/29/fond.png",
                "images/29/p3.png",
                "images/29/p2.png",
                "images/29/p1.png"
            ]
        },
        {
            "fragments": [
                "Bulbe Oignon se sent envahi d’une sensation inconnue. Cette lumière semble familière. Elle l’appelle. Elle connaît son nom. Des mots résonnent dans sa tête."
            ],
            "background": [
                "images/30/fond.png",
                "images/30/p3.png",
                "images/30/p2.png",
                "images/30/p1.png"
            ]
        },
        {
            "fragments": [
                "Jamais tu ne frémis, toujours, tu obéis. A la voix qui te guide, à qui tu dois la vie"
            ],
            "background": [
                "images/31/fond.png",
                "images/31/p3.png",
                "images/31/p2.png",
                "images/31/p1.png"
            ]
        },
        {
            "fragments": [
                "Que rien ne brise ton épée, ta volonté. Nulle épreuve, nul danger, ne te fera plier"
            ],
            "background": [
                "images/32/fond.png",
                "images/32/p3.png",
                "images/32/p2.png",
                "images/32/p1.png"
            ]
        },
        {
            "fragments": [
                "Chevalier de titane, Guerrier sans état d’âme"
            ],
            "background": [
                "images/33/fond.png",
                "images/33/p3.png",
                "images/33/p2.png",
                "images/33/p1.png"
            ]
        },
        {
            "fragments": [
                "Brave, sois-tu délivré. Ou à jamais damné."
            ],
            "background": [
                "images/34/fond.png",
                "images/34/p3.png",
                "images/34/p2.png",
                "images/34/p1.png"
            ]
        },
        {
            "fragments": [
                "Une partie du cerveau artificiel de Bulbe Oignon se met en marche. L’espace d’un instant, tout lui paraît limpide. Il comprend le «pourquoi» de son existence et de l’univers tout entier. "
            ],
            "background": [
                "images/35/fond.png",
                "images/35/p3.png",
                "images/35/p2.png",
                "images/35/p1.png"
            ]
        },
        {
            "fragments": [
                "Là où il ne ressentait que le vide, il entrevoit la joie, la tristesse, la peur et la souffrance. Il est vivant."
            ],
            "background": [
                "images/36/fond.png",
                "images/36/p3.png",
                "images/36/p2.png",
                "images/36/p1.png"
            ]
        },
        {
            "fragments": [
                "Au même instant, quelque part dans l’espace-temps, une corde vibre, une destinée se met en marche."
            ],
            "background": [
                "images/37/fond.png",
                "images/37/p3.png",
                "images/37/p2.png",
                "images/37/p1.png"
            ]
        },
        {
            "fragments": [
                "Un nouveau chapitre commence. Peut-être le dernier."
            ],
            "background": [
                "images/38/fond.png",
                "images/38/p3.png",
                "images/38/p2.png",
                "images/38/p1.png"
            ]
        }
    ]
}
---
