---
settings:
    # Transition
    transition: fade
    transitionSpeed: fast

    # Presentation Size
    embedded: true
    #center: false
    margin: 0

    # Fragment
    showFirstFragment: false
    fragmentPosition: top
---
{% extends '../_layouts/base.njk' %}

{% block content %}
    {% if slides | length %}
        {% set settings = revealSettings %}
        <main id="c-reveal" class="reveal">
            <div id="c-slider" class="slides">
                {% for slide in slides %}
                    {% set slide = slide | parseSlide(settings) %}
                    {% set background = slide.background | parseSlideBackground(settings) %}
                    {% set foreground = slide.foreground | parseSlideBackground(settings) %}
                    <section{{ html.attr('data-background-color', background.color) | safe }} aria-label="Page {{ loop.index }}">
                        {% if background.images | length %}
                            <div class="panel-artwork r-stack" role="img"{{ html.attr('aria-label', slide.description) | safe }}>
                                {%- for image in background.images %}
                                    <img class="panel-artwork-layer" role="presentation" loading="lazy" src="{{ image | url }}" alt="" width="{{ settings.width }}" height="{{ settings.height }}">
                                {%- endfor %}
                            </div>
                        {%- endif %}
                        {% if slide.fragments | length %}
                            <div class="panel-captions">
                                {%- for fragment in slide.fragments %}
                                    {% set fragment = fragment | parseSlideFragment(settings) %}
                                    <div{{ fragment | composeSlideFragmentAttributes(loop.index0, slide, settings) | safe }}>
                                        <p>{{ fragment.text | safe }}</p>
                                        {% if fragment.tail.offset and fragment.tail.direction %}
                                            <span{{ fragment.tail | composeSlideFragmentTailAttributes(fragment, settings) | safe }}></span>
                                        {% endif %}
                                    </div>
                                {%- endfor %}
                            </div>
                        {%- endif %}
                        {% if foreground.text %}
                            <p>{{ foreground.text | safe }}</p>
                        {%- endif %}
                    </section>
                {% endfor %}
            </div>
        </main>

        <script id="c-reveal-settings" type="application/json">
            {{ revealSettings | dump | safe }}
        </script>
    {% else %}
        <main tabindex="-1">
            <p>Missing Content</p>
        </main>
    {% endif %}
{% endblock %}

{% block head %}
    {% if slides | length %}
        <link rel="stylesheet" href="{{ '/assets/reveal/reveal.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/reveal/theme/black.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/styles/comic.css' | url }}">
    {% endif %}
{% endblock %}

{% block foot %}
    {% if slides | length %}
        <script type="text/javascript" src="{{ '/assets/reveal/reveal.js' | url }}"></script>
        <script type="text/javascript" src="{{ '/assets/scripts/comic.js' | url }}"></script>
    {% endif %}
{% endblock %}
