---
defaultRevealSettings:
    # Transition
    backgroundTransition: none
    transition: none
    transitionSpeed: fast

    # Presentation Size
    embedded: true
    margin: 0

    # Fragment
    showFirstFragment: false
    fragmentPosition: top
---
{% extends '../_layouts/base.njk' %}

{% block content %}
    {% if slides | length %}
        {% set settings = revealSettings | parseDeckSettings(defaultRevealSettings) %}
        <main id="c-reveal" class="reveal">
            <div id="c-slider" class="slides">
                {% for slide in slides %}
                    {% set slide = slide | parseSlide(settings) %}
                    <section{{ slide | composeHtmlAttributesForSlide(loop, settings) | safe }}>
                        {% if slide.background.images | length %}
                            <div{{ slide | composeHtmlAttributesForSlideBackground(settings) | safe }}>
                                {%- for image in slide.background.images %}
                                    <img{{ image | url | composeHtmlAttributesForSlideBackgroundImage(slide, settings) | safe }}>
                                {%- endfor %}
                            </div>
                        {%- endif %}
                        {% if slide.fragments | length %}
                            <div class="panel-captions">
                                {%- for fragment in slide.fragments %}
                                    <div{{ fragment | composeHtmlAttributesForSlideFragment(loop, slide, settings) | safe }}>
                                        <p>{{ fragment.text | safe }}</p>
                                        {% if fragment.tail.offset and fragment.tail.direction %}
                                            <span{{ fragment.tail | composeHtmlAttributesForSlideFragmentTail(fragment, settings) | safe }}></span>
                                        {% endif %}
                                    </div>
                                {%- endfor %}
                            </div>
                        {%- endif %}
                        {% if slide.foreground.text %}
                            <p>{{ slide.foreground.text | safe }}</p>
                        {%- endif %}
                    </section>
                {% endfor %}
            </div>
        </main>

        <script id="c-reveal-settings" type="application/json">
            {{ settings | dump | safe }}
        </script>
    {% else %}
        <main tabindex="-1">
            <p>Missing Content</p>
        </main>
    {% endif %}
{% endblock %}

{% block head %}
    {% if slides | length %}
        <link rel="stylesheet" href="{{ '/assets/reveal/reveal.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/reveal/theme/' + ( revealTheme | default('black') ) + '.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/styles/comic.css' | url }}">
    {% endif %}
{% endblock %}

{% block foot %}
    {% if slides | length %}
        <script type="text/javascript" src="{{ '/assets/reveal/reveal.js' | url }}"></script>
        <script type="text/javascript" src="{{ '/assets/scripts/comic.js' | url }}"></script>
    {% endif %}
{% endblock %}
